@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vw;
  background-color: rgb(39, 229, 243);
  text-align: center;
  padding-top: 4vw;
  font-size: 4vw;
  font-weight: 2vw;
  text-shadow: 0.3vw 0.3vw rgb(109, 109, 247);
  font-family: "Yuji Boku", serif;
  color: white;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  margin-top: 5vw;
  justify-content: center;
}
.cell {
  border: solid 0.4vw black;
  text-align: center;
  transition: all 0.1s ease-in-out;
  font-size: 9vw;
  align-items: center;
}
.cell:hover {
  background-color: rgba(181, 211, 228, 0.76);
}
.gameInfo {
  display: block;
  position: absolute;
  right: 10vw;
  margin-top: -25vw;
}
.bl {
  border-left: none;
}
.br {
  border-right: none;
}
.bt {
  border-top: none;
}
.bb {
  border-bottom: none;
}
img {
  width: 0vh;
  transition: all 0.5s ease-in;
}
#reset{
    padding: 1vw;
    width: 13vw;
    font-size: 2.5vw;
    border: solid black .3vw;
    background-color: rgb(185, 227, 238);
    margin: 3vw;
    margin-left: 0vw;
    border-radius:1vw;
    cursor: pointer;
    
}
.info{
  font-size: 2.5vw;
  

}
@media   screen and (max-width: 800px){
  .gameInfo{
    display: block;
    position: absolute;
    right: 40vw;
    margin-top: 10vw;


  }

  
}