@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  background-image: url(ticTacToeMedia/beachbg.jpg);
  height: 100vh;
}


.header {
  height: 8vw;
  /*background-color: rgb(39, 229, 243);*/
  text-align: center;
  padding-top: 4vw;
  font-size: 4vw;
  font-weight: 2vw;
  text-shadow: 0.3vw 0.3vw rgb(50, 50, 245);
  font-family: "Yuji Boku", serif;
  color: white;
}
#box{
  width: 45vw;
  height:70vh;
  /*background-image: url(ticTacToeMedia/stonebg.jpg);*/
  margin-left: 25vw;
  margin-top:-10.5vh;
  z-index: 5;
  
  
}
.board {
  display: grid;

  grid-template-columns: repeat(3, 9vw);
  grid-template-rows: repeat(3, 9vw);
  margin-top: 10.5vh;
  justify-content: center;
  
}
.cell {
  border: solid 0.3vw black;
  text-align: center;
  transition: all 0.1s ease-in-out;
  font-size: 8vw;
  align-items: center;
  font-weight: 400;
  background-color: rgba(206, 227, 247, 0.466)
  
}
.cell:hover {
  background-color: rgba(119, 200, 247, 0.76);
}
.gameInfo {
  display: block;
  position: absolute;
  right: 10vw;
  margin-top: -30vw;
}
.bl {
  border-left: none;
}
.br {
  border-right: none;
}
.bt {
  border-top: none;
}
.bb {
  border-bottom: none;
}
img {
  width: 0vh;
  transition: all 0.5s ease-in;
}
#reset{
    padding: 0.3vw;
    width: 9vw;
    font-size: 2vw;
    font-weight: 2vw;
    border: solid rgb(27, 95, 243) .3vw;
    background-color: rgba(119, 200, 247, 0.76);
  
    margin: 2vw;
    margin-left: 0vw;
    border-radius:1vw;
    cursor: pointer;
    font-family: "Yuji Boku", serif;
    color: white;
    
}
#reset:hover{
  background-color: rgba(143, 221, 156, 0.568);
}
.info{
  font-size: 2.5vw;
  font-family: "Yuji Boku", serif;
  font-size: 4vw;
  font-weight: 2vw;
  text-shadow: 0.3vw 0.3vw rgb(50, 50, 245);
  color: white;
  

}
@media   screen and (max-width: 800px){
  .gameInfo{
    display: block;
    position: absolute;
    right: 40vw;
    margin-top: -50vh;


  }

  
}